<% if @user_product.errors.any? %>
 <% @user_product.errors.full_messages.each do |error| %>
   <p class='validation'> <%= error %> </p>
 <%end %>
<% end %>

<% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
   <%= flash[:notice] %>
 </div>
<% end %>

<%= form_for @user_product do |f| %>
  <div class='form-group'>
      <div class='form-column'>
          <div class='col-md-4 center'>
            <%= f.label "Name" %>
              <%= f.collection_select :product_id, Product.all, :id, :name%>
          </div>
          <br>
          <div class='col-md-4 center'>
            <%= f.label :price %>
              <%= f.number_field :price, class: :text_field, step: :any, in: 1..10000, class: 'form-control'%>
          </div>
          <br>
          <div class='col-md-4 center'>
            <%= f.label :quantity %>
            <%= f.number_field :quantity, in: 1..99, class: 'form-control'%>
          </div>
      </div>
    </div>
    <div class='form-group'>
      <div class='form-column'>
        <div class='col-md-4 center'>
          <%= f.submit 'Submit', class:'btn btn-light'%>
        </div>
      </div>
    </div>
<% end %>
